@font-face {
  font-family: 'SolaimanLipi_font';
  src: url('https://res.cloudinary.com/plsshopit/raw/upload/v1741590177/public/SolaimanLipi_hwuked.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter_font';
  src: url('https://res.cloudinary.com/plsshopit/raw/upload/v1750848400/public/Inter_28pt-Regular_i3lpjw.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Amiri_font';
  src: url('https://res.cloudinary.com/plsshopit/raw/upload/v1750848928/public/AmiriQuran-Regular_kuiaiq.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Add top border */
.add-top-border .MuiDataGrid-cell {
  border: none !important;
}

.customTab {
  align-items: 'baseline';
  min-height: '30px';
  line-height: '13px';
  font-size: '1rem';
}

.selectedTab {
  background-color: #f0f0f0;
  /* Example of a selected tab style */
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* /* Shrinking for mobile */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

/* Make the editor scrollable */
.editorClassName {
  height: 200px;
  overflow: auto;
  padding: 10px;
}
